* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Harmonia Sans";
    src: url("/assets/fonts/HarmoniaSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Harmonia Sans", sans-serif;
}