* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Harmonia Sans";
    src: url("/assets/fonts/HarmoniaSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Harmonia Sans", sans-serif;
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.sidebar {
    background: #102A43;
    color: #F0F4F8;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    font-weight: 700;
    font-size: 18px;
}

.sidebar h2 {
    cursor: default;
    display: flex;
    align-items: center;
    gap: 10px;
}

#dashboard-icon {
    height: 40px;
    width: 40px;
}

.icon {
    height: 20px;
    width: 20px;
}

.header #icon {
    vertical-align: middle;
    margin-right: initial;
}

.sidebar a {
    margin-left: 10px;
    text-decoration: none;
    color: #F0F4F8;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 30px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
    font-weight: 700;
}

.header input {
    width: 75%;
    border-radius: 15px;
    background-color: #D9E2EC;
    border: none;
    height: 30px;
    padding: 0 12px;
}

.header-top-row {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 24px;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 13fr 8fr;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notifications {
    display: flex;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user-greeting {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pfp-small {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.pfp-large {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}